@use "../utilities/index" as util;

.profile__card {
    padding: 1.5rem 2rem 2rem 2rem;
    border-radius: 0.5rem;

    .user {
        display: grid;
        grid-template-columns: max-content auto;
        column-gap: .8rem;
        grid-template-rows: auto auto;

        .user__image {
            grid-row: 1/span 2;
            float: left;
            border-radius: 100%;
            max-width: 1.8rem;
            align-self: center;
        }

        .user__title {
            font-weight: 300;
            font-size: 0.7rem
        }

        .user__name {
            font-weight: 500;
            font-size: 0.8rem
        }
    }

    .user__name,
    .user__log {
        color: util.$lgb;
    }

    .user__log {
        font-size: 1.07rem;
        font-weight: 600;
        padding-top: 1rem;
        line-height: 1.3;
    }

    .user__exp {
        font-size: .75rem;
        padding-top: 1rem;
        line-height: 1.4;
    }

}

.profile__card:first-of-type {
    background-image: url(../../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% top;
    background-size: 6.1rem;
}

.card--3,
.card--5 {

    .user__name,
    .user__log {
        color: util.$vdg;
    }
}